@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F1F3F5;
    color: #212529;
    overflow-x: hidden;
}

.glass-header {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F1F3F5;
}

::-webkit-scrollbar-thumb {
    background: #D62828;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B02121;
}